[submodule "tools/cog"]
	path = tools/cog
	url = git://github.com/ldionne/cog.git
[submodule "tools/macroize"]
	path = tools/macroize
	url = git://github.com/ldionne/macroize.git
[submodule "ext/seatest"]
	path = ext/seatest
	url = https://github.com/ldionne/seatest.git
[submodule "ext/chaos-pp"]
	path = ext/chaos-pp
	url = https://github.com/ldionne/chaos-pp.git
[submodule "ext/joy"]
	path = ext/joy
	url = https://github.com/ldionne/joy.git
